:root {
    --green: #79D70F;
    --active-green: #8fe52e;
    --red: #D32626;
    --active-red: #de3d3d;
    --light: #EDF4F2;
    --yellow: #F5A31A;
    --blue: #163172;
    --light-blue: #1e6fd8;
    --dark-blue: #0b1e49;
}

* {
    margin: 0;
    font-family: monospace;
}

#container {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#counter {
    max-width: 50em;
    width: 100%;
    height: 25vh;
    background-color: var(--light);
    padding: 2em;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#count-el {
    background-color: var(--blue);
    color: var(--yellow);
    width: 2em;
    font-size: 10em;
    text-align: center;
    border-radius: 0.2em;
    margin: 0 0.2em;
}

.btn {
    max-width: 3em;
    width: 100%;
    background-color: #0b1e49;
    border: none;
    padding: 1em;
    font-size: 2.5em;
    font-weight: bolder;
    color: var(--light);
    margin: auto;
    border-radius: 50%;
}

.decrement {
    background-color: var(--red);
}

.decrement:active {
    background: var(--active-red);
}

.increment {
    background-color: var(--green);
}

.increment:active {
    background: var(--active-green);
}